/* CSS BY David Kalarickal */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body{
    font-family: 'Playfair Display';
    background-color: var(--soft-white);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
    color: var(--midnight-blue);
}

h3{
    font-size: 1.75rem;
    font-weight: bold;
}

#heading{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#heading > div{
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
}

#heading img{
    margin: auto;
    width: 200px;
}

#heading h1{
    font-weight: 550;
    padding: 15px;
}

#heading p{
    font-style: italic;
    padding: 15px;
    font-size: 1.25em;
}

nav{
    background-color: var(--champagne-gold);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

nav a{
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bold;
}

#welcome-message{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 60px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--champagne-gold);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    gap: 15px 0;
}

#welcome-message p{
    line-height: 25px;
    color: var(--dark-charcoal); 
}

#offerings{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--champagne-gold);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "heading"
    "artisan"
    "exclusive"
    "monthly";
    gap: 15px 0;
}

#offerings h2{
    grid-area: heading;
    padding-bottom: 10px;
}

#offerings .artisan{
    grid-area: artisan;
}

#offerings .exclusive{
    grid-area: exclusive;
}

#offerings .monthly{
    grid-area: monthly;
}

#offerings > div{
    padding: 15px;
    background-color: var(--olive-green);
    color: var(--soft-white);
    border-radius: 12.5px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#offerings div h3{
    padding-top: 5px;
    padding-bottom: 10px;
}

#offerings div p{
    line-height: 25px;
}

#offerings div ul{
    line-height: 25px;
    display: list-item;
    padding-left: 20px;
}

#offerings div li{
    list-style-type: disc;
}

#gallery{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--champagne-gold);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    'heading'
    'content'
    'photo-1'
    'photo-2'
    'photo-3'
    'photo-4'
    'photo-5'
    'button';
    gap: 15px 0;
}

#gallery-heading{
    grid-area: heading;
}

#gallery-content{
    grid-area: content;
}

#gallery-photo-1{
    grid-area: photo-1;
}

#gallery-photo-2{
    grid-area: photo-2;
}

#gallery-photo-3{
    grid-area: photo-3;
}

#gallery-photo-4{
    grid-area: photo-4;
}

#gallery-photo-5{
    grid-area: photo-5;
}

#gallery-button{
    grid-area: button;
}

#gallery p{
    padding-bottom: 5px;
    line-height: 25px;
    color: var(--dark-charcoal);
}

#gallery img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#gallery div{
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;
}

#gallery div p{
    padding: 7.5px;
    font-style: italic;
    font-size: 0.9rem;
}

#gallery button{
    background-color: var(--olive-green);
    color: var(--soft-white);
    font-weight: 600;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    font-family: 'Playfair Display';
    border-radius: 5px;
    border: 0 ;
}

footer{
    margin-top: 30px;
    background-color: var(--midnight-blue);
    padding: 20px;
    color: var(--soft-white);
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

footer div{
    padding-top: 60px;
}

footer #address-contact{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
}

footer a{
    padding-top: 12.5px;
    text-decoration: none;
    color: var(--soft-white);
}

.gold{
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bold;
}

/* MEDIA QUERY MEDIUM */

@media screen and (min-width: 600px) {

    #offerings h3{
        line-height: 40px;
    }

    #offerings{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto ;
        grid-template-areas: 
        "heading heading"
        "artisan exclusive"
        "monthly monthly";
        gap: 15px 15px;
    }

    #gallery{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        'heading heading'
        'content content'
        'photo-1 photo-2'
        'photo-4 photo-3'
        'photo-5 .'
        'button button';
        gap: 15px 15px;
    }
}
 
/* MEDIA QUERY LARGE */

@media screen and (min-width: 900px) {
    #gallery{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto ;
        grid-template-areas: 
        'heading heading heading'
        'content content content'
        'photo-1 photo-2 photo-3'
        'photo-4 photo-5 .'
        'button button button';
    }

    #welcome-message, #offerings, #gallery{
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* MEDIA QUERY X-LARGE */

@media screen and (min-width: 1200px) {


    #gallery{
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'heading heading heading heading heading'
        'content content content content content'
        'photo-1 photo-2 photo-3 photo-4 photo-5'
        'button button button button button';
    }
}