/* CSS BY David Kalarickal */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body{
    font-family: 'Playfair Display';
    background-color: var(--soft-white);
}

h1{
    font-size: 8rem;
}

h2{
    font-size: 3.5rem;
    color: var(--midnight-blue);
}

h3{
    font-size: 3rem;
    font-weight: bold;
}

#heading{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    display: grid;
    grid-template-rows: auto auto;
}

#heading > div{
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
}

#heading img{
    margin: auto;
}

#heading h1{
    font-weight: 550;
    padding: 20px;
}

#heading p{
    font-style: italic;
    padding: 25px;
    font-size: 2rem;
}

nav{
    background-color: var(--champagne-gold);
    display: flex;
    justify-content: space-evenly;
}

nav a{
    font-size: 3rem;
    padding: 30px;
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bold;
}

#welcome-message{
    margin: 40px;
    padding-bottom: 50px;
    padding-top: 70px;
    border-bottom: 4px solid var(--champagne-gold);
}

#welcome-message h2{
    padding-bottom: 15px;
}

#welcome-message p{
    line-height: 45px;
    color: var(--dark-charcoal); 
}

#offerings{
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 4px solid var(--champagne-gold);
}

#offerings h2{
    padding-bottom: 20px;
}

#offerings div{
    padding: 20px;
    background-color: var(--olive-green);
    color: var(--soft-white);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#offerings div h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

#offerings div p{
    line-height: 45px;
}

#offerings div ul{
    line-height: 45px;
    display: list-item
}

#gallery{
    margin: 40px;
    border-bottom: 4px solid var(--champagne-gold);
    padding-bottom: 50px;
    
}

#gallery h2{
    padding-bottom: 10px;
}

#gallery p{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 45px;
    color: var(--dark-charcoal);
}

#gallery img{
    width: 100%;
    border-radius: 15px;
}

#gallery div{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#gallery div p{
    padding: 20px;
}

#gallery button{
    background-color: var(--olive-green);
    color: var(--soft-white);
    font-weight: 600;
    padding: 20px;
    width: 100%;
    font-size: 2rem;
    font-family: 'Playfair Display';
    border-radius: 15px;
    border: 0 ;
}

